.section.vacancy
    .wrap 
        .vacancy-title 
            h2 Открытые вакансии 
        .vacancy-item 
            .vacancy-item-title 
                p Разнорабочие
            .vacancy-item-adress 
                p Кировская область, пгт. Верхошижемье
            .vacancy-item-content 
                span В связи с ростом и развитием производства на постоянной основе требуется персонал рабочих специальностей. Если вы хотите работать в надёжной, стабильной компании, получать вовремя ЗП, быть уверенным в своём будущем.
            .vacancy-item-button 
                button Откликнуться на вакансию
    