.section.visit
    .wrap 
        .section-title 
            h2 Приезжайте к нам!
        .section-content
            .company-text 
                p Ждём жителей других районов и регионов. Можем на первое время предоставить проживание в собственной гостинице и помочь со съемом или приобретением жилья
            .swiper-container-wrap
                .swiper-container.swiper-visit-slider
                    .swiper-wrapper
                        .swiper-slide.visit-slider-item
                            img(src="images/visit-slide1.png", alt="", srcset="") 
                        .swiper-slide.visit-slider-item
                            img(src="images/visit-slide2.png", alt="", srcset="") 
                        .swiper-slide.visit-slider-item
                            img(src="images/visit-slide3.png", alt="", srcset="")
                        .swiper-slide.visit-slider-item
                            img(src="images/visit-slide4.png", alt="", srcset="") 
                        .swiper-slide.visit-slider-item
                            img(src="images/visit-slide5.png", alt="", srcset="") 
                .swiper-navigation
                    .swiper-visit-button.visit-button-prev
                    .swiper-visit-pagination
                    .swiper-visit-button.visit-button-next
