@include media-breakpoint-up(xs) {
  .vacancy {
    .vacancy-item{
      box-shadow: 0px 10px 50px rgba(5, 79, 79, 0.15);
      padding: 37px 33px;
      border-radius: 30px;
    }
    .vacancy-item-title {
      font-weight: 750;
      font-size: 1.5rem;
    }
    .vacancy-item-adress {
      color: #342E22;
      position: relative;
      padding: 0 0 0 30px;
      &::before{
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background: url('images/map.svg') no-repeat center;
        left: 0;
      }
    }
    .vacancy-item-button button{
      margin: 47px 0 0 0;
      color: #449082;
      border: none;
      background-color: #E6EDED;;
      padding: 18px 48px;
    }
  }
}

@include media-breakpoint-down(xs) {

}