.section.company
    .wrap 
        .section-title 
            h2 Компания
        .section-content
            .company-text 
                p «Форест» сегодня — производитель пиломатериалов с активным ростом мощностей. К стратегическим путям нашего развития мы относим постоянное техническое совершенствование производственной базы и выпуск пиломатериалов по современным стандартам в соответствии с требованиями рыночной конъюнктуры.
            .swiper-container-wrap
                .swiper-container.swiper-company-slider
                    .swiper-wrapper
                        .swiper-slide.company-slider-item
                            img(src="images/company-slide-1.png", alt="", srcset="") 
                        .swiper-slide.company-slider-item
                            img(src="images/company-slide-2.png", alt="", srcset="") 
                        .swiper-slide.company-slider-item
                            img(src="images/company-slide-3.png", alt="", srcset="")
                        .swiper-slide.company-slider-item
                            img(src="images/company-slide-4.png", alt="", srcset="") 
                        .swiper-slide.company-slider-item
                            img(src="images/company-slide-5.png", alt="", srcset="") 
                .swiper-navigation
                    .swiper-company-button.company-button-prev
                    .swiper-company-pagination
                    .swiper-company-button.company-button-next
