.advantages
    .wrap.advantages-wrap
        .advantages-block
            .advantages-title 
                h3 Преимущества работы у нас
            .advantages-content 
                p.advantages-content-item  Достойная оплата труда
                p.advantages-content-item Соцпакет
                p.advantages-content-item Возможность обучения внутри компании без отрыва от работы
                p.advantages-content-item Возможность карьерного роста и профессиональной самореализации
        .advantages-block   
            .advantages-title 
                h3 Наши ценности
            .advantages-content
                p.advantages-content-item Устойчивое развитие компании
                p.advantages-content-item Безопасность сотрудников
                p.advantages-content-item Забота об окружающей среде
                p.advantages-content-item Удовлетворение потребностей клиентов
                p.advantages-content-item Совершенствование производственных процессов и повышение качества продукции