@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Avenir-Medium.ttf') format('ttf'),
}
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Avenir-Heavy.ttf') format('ttf'),
}
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: black;
	src: url('../fonts/Avenir-Black.ttf') format('ttf'),
}
